extends ../layouts/course-layout

//- INCLUDES
include ../mixins/event-application
include ../mixins/course-feature

block content
	section
		.contain
			.eventApplication-title
				h3 VIP课程免费试听
					span 让我们为你量身定做
			.row
				.card-application__content.col-sm-7.jr-eventApplication-card
					img.event-header-bg(src="../images/bgs/bg-shape-eventApplication.svg")
					h5.white 留下您的联系方式，小花会在第一时间联系您
					.card-application__content--header
						+event-application
				.col-sm-4.jr-eventApplication-description
					h1=curMeetups.name
					.row
						.col-sm-4 
							p
								strong 地点
						.col-sm-7
							p=curMeetups.place
					.row
						.col-sm-4 
							p
								strong 费用
						.col-sm-7
							p=curMeetups.price
					.row
						.col-sm-4
							p
								strong 时间
						.col-sm-7
							p=curMeetups._.startDate.format('dddd DD MMMM YYYY')
							p=curMeetups._.startDate.format('h:mm a') + ' - ' +curMeetups._.endDate.format('h:mm a')
	block js
		script(src=`/apps.bundle.js` async)
		link(rel="stylesheet", href="/apps.css")